<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BONDE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">
  <style type="text/css">
    a, a:link, a:visited, a:hover, a:active { color: #EE0099; }
  </style>
</head>
<body style="margin: 0; padding: 16px; background-color: #EEEEEE; text-align: center;">
  <table
    align="center"
    cellpadding="0"
    cellspacing="0"
    style="font-family: 'Nunito', sans-serif; max-width: 600px;"
  >
    <!-- HEADER -->
    <tr>
      <td align="center" style="padding: 16px;">
          <img src="https://s3.amazonaws.com/hub-central/uploads/1530673256_mapadoacolhipng_marcafooter.png" width="25%" style="vertical-align: middle;">
      </td>
    </tr>
    <!-- HEADER -->

    <!-- MAIN -->
    <tr>
      <td style="padding-bottom: 16px;">
        <table width="100%" style=" border-collapse: collapse; border-radius: 5px; border-style: hidden; background-color: #FFFFFF; ">
          <tr>
            <td style="padding: 32px 48px;" align="center">
            <% if params[:utf8].nil? %>
              <%= form_tag("/replay-donation", method: "get") do %>
                <%= hidden_field_tag "user_email", params[:user_email] %>
                <%= hidden_field_tag "amount", params[:amount] %>
                <%= hidden_field_tag "widget_id", params[:widget_id] %>

                <p>Ao clicar no botão abaixo, você fará uma doação de <%= (params[:amount].to_i / 100) %> reais para o Mapa do Acolhimento, ajudando a garantir que nenhuma mulher que sofreu violência fique desamparada.</p>
                <p> Podemos confirmar sua doação? </p>
                <%= submit_tag("Confirmar", :style => "border:0; font-size: 18px; padding: 10px; cursor: pointer; background-color: rgba(98, 37, 101, 1); color: #fff;") %>
              <% end %>
            <% else %>
              <table>
                <tr>
                  <td align="center" style="padding-bottom: 16px; color: #424242; font-size: 18px;">
                    <p style="font-size: 36px;">Oi, <span style="color: #059046; font-weight: 800;"><%= @activist['name'] %> </span>!</p>
                    <p>Muito obrigada mais uma vez! É incrível saber que podemos contar com você.</p>
                    <p>Agora sua doação está sendo processada, logo mais você deve receber a confirmação no seu email ;)</p>
                    <%# <p><span style="color: #059046; font-weight: 800;">Detalhes da Doação</span></p> %>
                    <%# <p> %>
                    <%#   <strong>Valor doado:</strong> R$ <%= @donation.amount/100 %1> <br> %>
                    <%#   <strong>Data da doação:</strong> <%= @donation.created_at.strftime("%d/%m/%Y") %1> <br> %>
                    <%#   <strong>Recebedor:</strong> XX</p> %>
                    <%# <p>Obrigada por apoiar essa causa, seu apoio faz toda a diferença! :)</p> %>
                    <p>Forte abraço <3</p>
                    <p>Livia, Bela e toda a equipe do Meu Rio</p>
                    </td>
                </tr>
              </table>
            <% end %>
            </td>
          </tr>
          <tr>
            <td align="center" style="padding-bottom: 32px; color: #4A4A4A; font-size: 11px;"> Dúvidas? Só mandar um e-mail pra: <a href="mailto:suporte@bonde.org">suporte@bonde.org</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- MAIN -->

    <!-- FOOTER -->
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td align="left" style="color: #4A4A4A; font-size: 12px; padding-left: 16px;">
                        Feito pra causar. Feito com <b>BONDE</b>.
                    </td>
                    <td align="right" style="padding-right: 16px;">
                        <img src="https://s3.amazonaws.com/hub-central-dev/uploads/1524537742_bonde-logo-icon.png">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" style="color: #9B9B9B; font-weight: 300; font-size: 9px; padding: 16px 40px;">
            <%  if !@community_name.nil?  %>
                O BONDE é a plataforma que <%= @community_name %> usa para criar e gerenciar as páginas de
                mobilizações, por isso você recebe essas notificações vindas da gente ;)
            <% else %>
                O BONDE é a plataforma usada para criar e gerenciar as páginas de
                mobilizações, por isso você recebe essas notificações vindas da gente ;)
            <% end %>
        </td>
    </tr>
    <!-- FOOTER -->
  </table>
</body>
</html>

